.header {
   &__inner {
      display: flex;
      justify-content: space-between;
      padding: 28px 15px;
   }

   &__logoWrapper {
      display: flex;
      align-items: center;
      z-index: 10000;
   }

   &__logo {
      margin-right: 9px;
   }

   &__logoTxt {
      color: var(--white-color);
   }

   &__logoTxt_black {
      color: var(--black-color);
   }

   &__nav {
      display: none;

      @media (min-width: 768px) {
         display: flex;
      }
   }

   &__navItem {
      margin-left: 24px;
      color: var(--white-color);

      &:hover {
         text-decoration: underline;
      }
   }
}

.burgerBtn {
   margin: -16px;

   @media (min-width: 768px) {
      display: none !important;
   }
}

.burgerBtnStick {
   background-color: var(--black-color) !important;
}

.drawer {
   padding-top: 86px;
   display: flex;
   flex-direction: column;

   &__item {
      padding: 16px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--lightGray-color);

      &:first-child {
         border-top: 1px solid var(--lightGray-color);
      }
   }

   &__itemTxt {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      color: var(--gray-color);
   }
}