:root {
   --black-color: #191C1F;
   --darkGray-color: #5E646A;
   --gray-color: #83898F;
   --midGray-color: #C2C8CD;
   --lightGray-color: #ECEFF2;
   --extraLighGray-color: #F6F8FA;
   --white-color: #FFFFFF;
   --dangerous-color: #F13636;
   --greenSuccess-color: #25CD82;
   --primaryDisabled-color: #ABCAE6;
   --primary-color: #2A6CEA;
   --primaryHover-color: #397DFF;
}