.commentCard {
   padding: 22px;
   border-radius: 8px;
   box-shadow: 0px 5px 24px 0px transparentize($color: #000000, $amount: 0.9);
   cursor: pointer;

   &__head {
      display: flex;
   }

   &__authorAvatar {
      object-fit: cover;
      width: 44px;
      height: 44px;
      border-radius: 100%;
   }

   &__authorInfo {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__authorName {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      line-clamp: 1;
   }

   &__authorCity {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      color: var(--darkGray-color);
   }

   &__comment {
      margin-top: 20px;
   }
}