.accordion {
   &__btn {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      border: none;
      background-color: transparent;
      overflow: hidden;
      margin-bottom: 24px;
      transition: color var(--animation-duration) ease;

      &:hover {
         color: var(--primary-color);
      }
   }

   &__openIcon {
      transition: transform var(--animation-duration) ease;
   }

   &__openIcon_active {
      transform: rotate(45deg);
   }

   &__notExpanded {
      overflow: hidden;
      transition: height ease var(--animation-duration);
   }

   &__expanded {
      transition: height ease var(--animation-duration);
      overflow: hidden;
   }

   &__text {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      color: inherit;
   }
}